body{
    background-color:rgb(0, 70, 150);
    color: white;
}

#navbar {
    overflow: hidden;
    background-color: black;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    position:fixed;
    z-index:999;
 }
 .cover > img {
    height:400px;
}

.ui-coverflow-wrapper{
    height:400px;
    z-index:2
}
.ui-state-active{
    border:0px;
}

#coverflow {
    z-index:2
}


.popup {
    color:black;


}
#button1 {
    margin-top: 10px;
}
#submit {
    margin-top: 10px;

}

